/*====================================================
            NAVBAR - PREMIUM VERSION
====================================================*/

:root{

    --primary:#0C6D91;
    --secondary:#13B4D8;
    --accent:#F4B400;

    --white:#ffffff;
    --black:#222;

    --gray:#64748B;

    --shadow:0 15px 40px rgba(0,0,0,.08);

    --radius:18px;

    --transition:.35s ease;

}

/*==================================
        NAVBAR
==================================*/

/*====================================
            NAVBAR
====================================*/

.navbar{

    position: sticky;
    top: 15px;
    z-index: 999;
    background: transparent;

}

.nav-container{

    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;

}

.nav-menu{

    display:flex;

    align-items:center;

    gap:12px;

    list-style:none;

    padding:12px;

    background:#f0ede8;

    border-radius:18px;

    border:1px solid #E5E7EB;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.nav-menu li{

    position:relative;

}

.nav-menu > li > a{

    display:flex;
    align-items:center;
    justify-content:center;
     transition:.3s;
    padding:14px 24px;

    border:1px solid #E5E7EB;

    border-radius:14px;

    background:#fff;

    color:#374151;

    font-size:14px;

    font-weight:600;

    text-decoration:none;

    transition:all .3s ease;

}
.nav-menu > li > a:hover{

       color:#0e5808;  
    text-shadow:

    0 0 8px rgba(14,165,233,.35);
      transform:translateY(-8px);

}
.nav-menu > li > a::after{

    content:"";

    position:absolute;

    left:50%;

    bottom:4px;

    width:0;

    height:3px;

    transform:translateX(-50%);

    border-radius:30px;

    background:linear-gradient(
        90deg,
        #0F5D46 0%,
        #4CAF50 35%,
        #D4A017 100%
    );

    transition:width .35s ease;

}

.nav-menu > li > a:hover::after{

    width:75%;

}
.active > a{

    background:linear-gradient(
        135deg,
        #0C6D91,
        #14B8C4
    );

    color:#fff;

    border-color:#0C6D91;

}
.active>a::after{

    width:70%;

}


/*==================================
        PREMIUM DROPDOWN
==================================*/
/*==================================================
                PREMIUM DROPDOWN
==================================================*/

.dropdown{

    position:relative;

}

/*==============================
        DROPDOWN BOX
==============================*/

.dropdown-menu{

    position:absolute;

    top:115%;
    left:50%;

    transform:translateX(-50%) translateY(12px);

    width:240px;

    padding:10px;

    list-style:none;

    background:#eeeeec;

    border:1px solid #d8c65e;

    border-radius:18px;

    box-shadow:
        0 20px 50px rgba(0,0,0,.10);

    opacity:0;

    visibility:hidden;

    transition:
        opacity .35s ease,
        transform .35s ease;

    z-index:999;

}

/* Small Arrow */

.dropdown-menu::before{

    content:"";

    position:absolute;

    top:-8px;

    left:50%;

    transform:translateX(-50%) rotate(45deg);

    width:16px;

    height:16px;

    background:#fff;

    border-left:1px solid #ECECEC;

    border-top:1px solid #ECECEC;

}

/*==============================
        SHOW MENU
==============================*/

.dropdown:hover .dropdown-menu{

    opacity:1;

    visibility:visible;

    transform:translateX(-50%) translateY(0);

}

/*==============================
        ITEMS
==============================*/

.dropdown-menu li{

    margin:1px 0;

}

/*==============================
        LINKS
==============================*/

.dropdown-menu li a{

    display:flex;

    align-items:center;

    gap:9px;

    position:relative;

    padding:12px 14px;

    border-radius:12px;

    text-decoration:none;

    color:#0a2244;

    font-size:14px;

    font-weight:500;

    transition:all .30s ease;

}

/*==============================
        PDF ICON
==============================*/

.pdf-icon{

    font-size:18px;

    color:#E53935;

    transition:.30s;

    flex-shrink:0;

}

/*==============================
        HOVER
==============================*/

.dropdown-menu li a:hover{

    color:#0F5D46;

    background:#F8FAFC;

    transform:translateX(6px);

}

/* PDF grows slightly */

.dropdown-menu li a:hover .pdf-icon{

    transform:scale(1.15);

}

/*==============================
        UNDERLINE
==============================*/

.dropdown-menu li a::after{

    content:"";

    position:absolute;

    left:44px;

    bottom:8px;

    width:0;

    height:2px;

    border-radius:20px;

    background:linear-gradient(
        90deg,
        #0F5D46,
        #D4A017
    );

    transition:width .30s ease;

}

.dropdown-menu li a:hover::after{

    width:calc(100% - 58px);

}

/*==============================
        DROPDOWN ARROW
==============================*/

.dropdown-arrow{

    margin-left:6px;

    font-size:11px;

    transition:.35s ease;

}

.dropdown:hover .dropdown-arrow{

    transform:rotate(180deg);

}